<div id="login-form">
  <h2><%= l(:label_drive_access_by_password)%></h2>
  <%= form_tag public_url_for(@drive_entry, @expiration_date) do %>
    <label for="password"><%=l(:field_password)%></label>
    <%= password_field_tag 'password', nil, tabindex: '1' %>
    <%= submit_tag l(:button_submit), tabindex: '2'  %>
  <% end %>
</div>
